<% content_for :title, "Admin" %>
<div id="backup-page">
	<% form_tag(:action => "backup") do %>
		<p><%= submit_tag "Backup" %></p>
	<% end -%>
</div>


<div id="restore-page">
	<% form_for @import, :url => { :action => "restore" }, :html => { :multipart => true } do |f| %>
	<fieldset>
		SQL File: 
		<%= f.file_field :csv, :onclick => 'enableSubmit(this);' %>
	</fieldset>
	<div class="buttons">
		<%= f.submit "Restore from Backup", :disabled => true, :disable_with => "Restoring..." %>
	</div>
	<% end %>
</div>