<% content_for :title, "Admin" %>
<div id="backup-page">
	<h2>Backup</h2>
	<div class="message">Click to download a sql backup of the database.</div>
	<% form_tag(:action => "backup") do %>
		<p><%= submit_tag "Backup" %></p>
	<% end -%>
</div>

<div id="restore-page">
	<h2>Restore</h2>
	<div class="message">File must be a .sql file. This file will contain the mysql statements necessary to restore the database from the backup created.</div>
	<% form_for @import, :url => { :action => "restore" }, :html => { :multipart => true } do |f| %>
	<fieldset>
		SQL File: 
		<%= f.file_field :csv, :onclick => 'enableSubmit(this);' %>
	</fieldset>
	<div class="buttons">
		<%= f.submit "Restore from Backup", :disabled => true, :class => 'button upload', :onclick => "showLoader();if (window.hiddenCommit) { window.hiddenCommit.setAttribute('value', this.value); }else { hiddenCommit = document.createElement('input');hiddenCommit.type = 'hidden';hiddenCommit.value = this.value;hiddenCommit.name = this.name;this.form.appendChild(hiddenCommit); }this.setAttribute('originalValue', this.value);this.disabled = true;this.value='Importing...';showLoader();;result = (this.form.onsubmit ? (this.form.onsubmit() ? this.form.submit() : false) : this.form.submit());if (result == false) { this.value = this.getAttribute('originalValue');this.disabled = false; }return result;" %>
	</div>
	<div id="loader" style="display:none;"><%= image_tag "/images/ajax-loader.gif" %> Restoring from backup. This could take a while...</div>
	<% end %>
</div>