<% content_for :title, "Admin" %>
<h2>Staff Import</h2>
<div class="message">Upload should be a .csv file. This file should contain a comma separated list of each staff member and their info.
</div>
<div id="import-page">
	<% form_for @import, :url => { :action => "import_csv" }, :html => { :multipart => true } do |f| %>
	<fieldset>
		CSV File:
		<%= f.file_field :csv, :onclick => 'enableSubmit(this);' %>
	</fieldset>
	<div class="buttons"><%= f.submit "Import Data", :disabled => true, :class => 'button upload', :onclick => "showLoader();if (window.hiddenCommit) { window.hiddenCommit.setAttribute('value', this.value); }else { hiddenCommit = document.createElement('input');hiddenCommit.type = 'hidden';hiddenCommit.value = this.value;hiddenCommit.name = this.name;this.form.appendChild(hiddenCommit); }this.setAttribute('originalValue', this.value);this.disabled = true;this.value='Importing...';showLoader();;result = (this.form.onsubmit ? (this.form.onsubmit() ? this.form.submit() : false) : this.form.submit());if (result == false) { this.value = this.getAttribute('originalValue');this.disabled = false; }return result;" %></div>
	<div id="loader" style="display:none;"><%= image_tag "/images/ajax-loader.gif" %> Importing Staff. This could take a while...</div>
	<% end %>
</div>
