<% content_for :title, "Admin" %>
<div id="import-page">
	<% form_for @import, :url => { :action => "import_csv" }, :html => { :multipart => true } do |f| %>
	<fieldset>
		CSV File:
		<%= f.file_field :csv, :onclick => 'enableSubmit(this);' %>
	</fieldset>
	<div class="buttons">
		<%= f.submit "Import Data", :disabled => true, :disable_with => "Importing..." %>
	</div>

	<% end %>
</div>