.in_place_editor_label:hover {
	cursor:pointer;
	text-decoration: underline;
}

.in_place_editor_field {
	cursor:pointer;
	width:419px;
	word-wrap: break-word;
}

.show-page-name {
	font-weight: bold;
	font-size:20pt;
	padding:5px;
}

.show-page-info {
	font-size:12pt;
	padding:5px;
}

html, body, p, ul, ol, dl, li, h1, h2, h3, h4, img	{

}

ul {
	list-style: none;
}

img	{
	border: 0;
}

a {
	outline: none;
}

ul { margin: 0px; padding: 0px; }

body { background-color: #fff; width: 900px; margin: auto;}

body, p, ol, ul, td {
  font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-size:   12px;
  color: rgb(51,51,51);
  line-height: 22px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #999; }

/* navigation */

ul#navi {
	background: url(/images/menu-bar.gif) repeat-x top left;
	width: 900px;
	height: 65px;
	position: relative;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	line-height: 0px; /* fixes IE6 stepdown bug */
	margin-bottom: 20px;
	z-index: 2;
}

ul#navi li a {
	height: 65px;
	display: block;
	position: absolute;
	top: 0;
	text-indent: -9999px;
}

ul#navi li#home_link a {
	left: 10px;
	width:185px;
	background-image: url(/images/logo3.gif);
	background-repeat: no-repeat;
}

ul#navi li#call_log_link a {
	left: 195px;
	width:100px;
	background-image: url(/images/call-log.gif);
	background-repeat: no-repeat;
}

ul#navi li#houses_link a {
	left: 295px;
	width:100px;
	background-image: url(/images/houses.gif);
	background-repeat: no-repeat;
}

ul#navi li#reports_link a {
	left: 395px;
	width:100px;
	background-image: url(/images/reports.gif);
	background-repeat: no-repeat;
}

ul#navi li#admin_link a {
	left: 495px;
	width:100px;
	background-image: url(/images/admin.gif);
	background-repeat: no-repeat;
}

ul#navi li#dec_text_link a {
	left: 670px;
	width:60px;
	background-image: url(/images/dec-text.gif);
	background-repeat: no-repeat;
}

ul#navi li#inc_text_link a {
	left: 730px;
	width:60px;
	background-image: url(/images/inc-text.gif);
	background-repeat: no-repeat;
}

ul#navi li#logout_link a {
	left: 790px;
	width:100px;
	background-image: url(/images/logout.gif);
	background-repeat: no-repeat;
}

ul#navi li a:hover {
	background-position: 0 -66px;
}

ul#navi li#home_link a:hover {
	background-position: 0px 0px;
}

ul#navi .current a {
background-position: 0 -66px;
}

/* secondary navigation */

ul#second_navi {
	background: #666;
	width: 800px;
	height: 50px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin: auto;
	position: relative;
	top: -30px;
	z-index: 1;
	text-align: center;
}

ul#second_navi li {
	font-size: 10pt;
	position: relative;
	top: 20px;
	display: inline;
	margin: 0px 35px;
}

ul#second_navi a {
	color: #FFF;
}

ul#second_navi a:hover {
	color: #CCC;
}

/* login page */

#home_logo {
	text-align: center;
	display: block;
	margin: 20px auto;	
}

#login_forms {
	width: 410px;
	margin: auto;
	border: 1px solid #CCC;
	/*-moz-border-radius: 10px; 
		-webkit-border-radius: 10px;*/
	padding: 20px 35px 25px;
	box-shadow: 4px 4px 8px #818181;
	-webkit-box-shadow: 4px 4px 8px #818181;
	-moz-box-shadow: 4px 4px 8px #818181;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	background: #EEE url(/images/gradient.png) repeat-x top left;
}


/* general stuff */

h1 { font-size: 24pt; margin-bottom: 20px;}

h2 { font-size: 20pt; margin-bottom: 30px;}

#search-form h3 { margin-bottom: 0px;}

#login_forms input[type="text"] { font-size: 14px; margin-bottom: 10px; padding: 3px; width: 275px;}

#login_forms input[type="password"] { font-size: 14px; margin-bottom: 10px; padding: 3px; width: 275px;}

fieldset { width: 300px;}

.buttons { display: inline;}

/* search in call-log */

#search-form {
	width: 650px;
	margin: 0 auto;
	border: 1px solid #CCC;
	/*-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;*/
	padding: 20px;
	padding-top: 0px;
	box-shadow: 4px 4px 8px #818181;
	-webkit-box-shadow: 4px 4px 8px #818181;
	-moz-box-shadow: 4px 4px 8px #818181;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
	background: #EEE url(/images/gradient.png) repeat-x top left;
}

.pay_rate {
	width: 40px !important;
}

/* admin page */

#add-user-form {
	float: left;
	width: 300px;
	clear: left;
}

#current-users {
	float: left;
	width: 600px;
	clear:right;
}

.user_username {
	width: 150px;
	float:left;
}

.user_email {
	width: 250px;
	float:left;
}

.user_role {
	width: 130px;
	float:left;
}

.houses {
	margin-left: 30px;
}

.user_info:hover {
	background-color: #CCC;
}

.user_info {
	border-bottom: 1px solid #CCC;
}

textarea.feedback {
	width: 500px;
	height: 70px;
}

input.feedback {
	width: 500px;
}

#flash-notice {
	color: green;
	padding: 10px 5px 10px 40px;
	border: 2px solid green;
	background: #EEE url(/images/success.gif) no-repeat 5px center;
	width: 600px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin: auto;
	margin-bottom: 10px;
}

#flash-warning {
	padding: 10px 5px 10px 40px;
	border: 2px solid #FFE222;
	background: #FFF8CC url(/images/warning.gif) no-repeat 5px center;
	width: 600px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin: auto;
	margin-bottom: 10px;
}

#flash-error {
	color: #CC0000;
	padding: 10px 5px 10px 40px;
	border: 2px solid #CC0000;
	background: #EEE url(/images/failure.gif) no-repeat 5px center;
	width: 600px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin: auto;
	margin-bottom: 10px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Pagination */

.pagination {
   font-weight: bold;
   margin-top: 30px;
}

.pagination a {
    padding: 3px 5px;
    border: 1px solid #CCC;
    text-decoration: none;
    background-color: #EEE;
}

.pagination a:hover {
    color: #000;
    border: 1px solid #006A69;
}

.pagination .next_page, .pagination .prev_page {
    border: none;
    background-color: #fff;
}

.pagination a.next_page:hover, a.prev_page:hover {
    border: none;
    background-color: #fff;
    text-decoration: underline;
}

.pagination .current {
	padding: 3px 5px;
}

/* list tables */

#list-table {
 width: 900px;
 margin-top: 30px;
 border-collapse: collapse;
}

#list-table th {
  text-align: left;
}

tr.odd {
  background-color: rgb(237, 243, 254);
}

td.warning {
  background-color: #FFEE99;
border: 1px solid #CCC;
}

td.expired {
  background-color: #FFDDDD;
border: 1px solid #CCC;
}

tr.warning {
  background-color: #FFEE99;
}

tr.expired {
  background-color: #FFDDDD;
}

#list-table tr:hover {
  background-color: #CCC;
  cursor: pointer;
}

#list-table tr:first-child:hover {
  background-color: #FFF;
  cursor: default;
}

#no-results {
  border: 1px solid #000;
  background-color: #FFC;
  padding: 5px;
}

#no-results td {
 padding: 5px;
}

/* home page links */

#home-page-links {
	width: 600px;
	margin: auto;
}

#home-page-links a {
	font-size: 16pt;
	padding-top: 90px;
	padding-bottom: 0px;
}

#home-page-links #admin_home_link {
	display: block;
	width: 300px;
	float: left;
	text-align: center;
	background: url(/images/admin-logo.png) no-repeat center top;
	margin-bottom: 40px;
	
}

#home-page-links #call_log_home_link {
	display: block;
	width: 300px;
	float: left;
	text-align: center;
	background: url(/images/call-log-logo.png) no-repeat center top;
	margin-bottom: 40px;
}

#home-page-links #houses_home_link {
	display: block;
	width: 300px;
	float: left;
	text-align: center;
	background: url(/images/houses-logo.png) no-repeat center top;
	margin-bottom: 40px;
}

#home-page-links #reports_home_link {
	display: block;
	width: 300px;
	float: left;
	text-align: center;
	background: url(/images/reports-logo.png) no-repeat center top;
	margin-bottom: 40px;
}

#new_house_link a {
	background: url(/images/house-add.gif) no-repeat left center;
	padding-left: 45px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#new_house_link {
	width: 150px;
	float: right;
}

#staff-reports {
	width: 450px;
	float: left;
}

#house-reports {
	width: 450px;
	float: left;
}

#results-no {
	text-align:right;
}

#backup-page {
	width: 350px;
	margin-right: 50px;
	float: left;
}

#restore-page {
	width: 500px;
	float: left;
	margin-bottom: 20px;
}

form.new_import {
	width: 400px;
	margin: 0 auto;
}

button.disabled
{
	background-color: #EFFBFF;
	border: 1px solid #CFF2FF;
	color: #99C4DF;
	cursor: default;
}

button, input.button
{
	background: #DFF7FF 5px center no-repeat;
	border: 1px solid #A4DBEF;
	color: #2C758F;
	padding: 5px 8px 5px 24px;
	margin-right: 10px;
	font-size: 11px;
	font-weight: bold;
	
}



button.upload, input.upload
{
	background-image: url(/images/upload.png);
}

input.upload[disabled] {
	background: #EEE;
	color: #CCC;
}

button.browse
{
	background-image: url(/images/add.png);
}

div.message
{
	background: #FFF8CC;
	border: 1px solid #FFE222;
	padding: 10px;
	margin-bottom: 10px;
	line-height: 1.3;
}

div.user_house {
	height: 22px;
	padding: 5px;
	padding-left: 0px;
	margin-left: 30px;
}

form.add_permission {
	margin-left: 30px;
}