<h1>Reset Your Password</h1>

<% form_for @user do |f| -%>
	<p>
		New Password: <br/>
		<%= f.text_field :password %>
	</p>
	
	<p>
		Confirm new password: <br/>
		<%= f.text_field :password_confirmation %>
	</p>
	
	<%= f.submit "Reset", :disable_with => 'Reseting...' %>
<% end -%>