<% content_for :title, "Change Password" %>
<h1>Change Your Password</h1>

<% form_for @user, :url => { :action => "reset_user_password" } do |f| -%>
	<p>
		New Password: <br/>
		<%= f.password_field :password %>
	</p>
	
	<p>
		Confirm new password: <br/>
		<%= f.password_field :password_confirmation %>
	</p>
	
	<%= f.submit "Change", :disable_with => 'Changing...' %>
<% end -%>